.hide {
    display: none;
}
/* #region body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: normal;
}
/*body:has(.backdrop.is-open) {
    overflow-y: hidden;
}*/
body.is-open {
    overflow-y: hidden;
}
h1 {
    margin: 0;
    margin-bottom: 72px;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.11111;
    text-align: center;
    /*font-size: 56px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;*/
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  h1 {
    margin-bottom: 48px;
  }
}
h2 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.11111;
    color: #2E2F42;
}

h3 {
     margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
     /*
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: left; */
}
@media only screen and (min-width: 768px) {
  h3 {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
}
a {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2E2F42;
}

p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    margin: 0;
    text-align: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    /* max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */

    outline: 2px solid red;
    outline-offset: -2px;
}
@media  screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
img {
    display: block;
    max-width: 100%;
}
.section {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */
/* #region Header */
header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
address {
    font-style: normal;
    margin-left: auto;
}
.container-header {
    display: flex;
}
.nav {
    display: flex;
}
.header-nav {
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767.98px) {
    .header-nav {
        display: none;
    }
}
.header-address {
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767.98px) {
    .header-address {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header-address {
    display: block;
    padding: 16px 0;
  }
}
.address {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    gap: 40px;
    margin-left: auto;
    color: #434455;
    padding: 24px 0;
    display: inline-block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .address {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    padding: 0 0 0 0;
  }
  .address:first-child {
    padding-bottom: 12px;
  }
}
.address:hover,
.address:focus {
    color: #404BBF;
}
.link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
gap: 40px;
padding: 24px 0;
display: inline-block;
position: relative;
transition-property: color;
transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
        color: #404BBF;
            font-size: 16px;
            letter-spacing: 0.02em;
            font-weight: 500;
            line-height: 1.5;
}
.link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
}
.active {
    color: #404BBF;
}
.logo-header {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    /* margin-right: 76px; */
    /* padding-top: 24px; */
    margin-right: 100%;
    padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
    padding: 24px 0 0;
  }
}
@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}
.span-header {
    color: #4d5ae5;
}
.bg-image {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office_mob@1x.jpg);
    max-width: 1440px;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0 auto;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .bg-image {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office_tab@1x.jpg);
  }
  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .bg-image {
          background-image: linear-gradient(to bottom,
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
            url(../images/office_tab@2x.jpg);
      }
    }
}
@media only screen and (min-width: 1158px) {
    .bg-image {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office_desk@1x.jpg);
    }
        @media (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .bg-image {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/office_desk@2x.jpg);
            }
        }
}
/* #endregion */
/* #region page-title */
.page-title {
    background-color: #2E2F42;
    color:#FFFFFF;
    padding: 72px 0;
}
@media only screen and (min-width: 768px) {
  .page-title {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .page-title {
    padding: 188px 0;
  }
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* #endregion */
/* #region features */
.flex-features {
    display: flex;
    flex-direction: column;
    gap: 72px;
    /* gap: 24px; */
}
@media only screen and (min-width: 768px) {
  .flex-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.li-features {
    /* flex-basis: calc((100% - 3 * 24px)/4); */
    flex-basis: calc((100% - 1 * 72px)/2);
}
@media only screen and (min-width: 1158px) {
  .li-features {
    flex-basis: calc((100% - 3 * 24px)/4);
  }
}
.features-display {
    display: none;
    /* display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; */
}
@media only screen and (min-width: 1158px) {
  .features-display {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}
.features-icons {
    display: none;
}
@media only screen and (min-width: 1158px) {
  .features-icons {
    display: inline-block;
  }
}
/* #endregion */
/* #region hero */
.hero-page {
    background-color: #F4F4FD;
}
.team-image {
    background-color: #FFFFFF;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
    text-align: center;
    margin-bottom: 72px;
}
.team {
        text-align: center;
}
.flex-team {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    justify-content: center;
    align-items: center;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
  .flex-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100 - 2) / 2 );
  }
}
@media only screen and (min-width: 1158px) {
  .flex-team {
    flex-basis: 100%;
  }
}
.team-wrap {
    padding: 32px 16px;
}
.social-links {
width: 232px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
        /*background-color: #4d5ae5;*/
gap: 24px;
flex-direction: row;
margin-top: 8px;
}
.icons {
    fill: #f4f4fd;
}
.icon-bg {
    width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4d5ae5;
        gap: 24px;
        flex-direction: row;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-bg:hover,
.icon-bg:focus {
    background-color: #404bbf;
}
/* #endregion */
/* #region portfolio */
.portfolio {
    text-align: left;
}
.flex-portfolio {
    /* display: flex;
    gap: 24px;
    row-gap: 48px;
    justify-content: flex-start;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    gap: 48px;
}
@media only screen and (min-width: 768px) {
  .flex-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .flex-portfolio {
    row-gap: 48px;
  }
}
.portfolio-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img {
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-width {
    width: 288px;
    height: 280px;
}
@media only screen and (min-width: 768px) {
  .img-width {
    width: 356px;
    height: 300px;
  }
}
@media only screen and (min-width: 1158px) {
    .img-width {
        width: 360px;
    }
}
/*.portfolio-wrap:hover,
.portfolio-wrap:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}*/
.box {
    position: relative;
    overflow: hidden;
}
.overlay {
padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.portfolio-img:hover .overlay,
.portfolio-img:focus .overlay {
    transform: translateY(0);
}
.portfolio-img:hover ,
.portfolio-img:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion */
/* #region footer */
footer {
    background-color: #2E2F42;
    color: #FFFFFF;
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  footer {
    padding: 100px 0;
  }
}
.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* align-items: baseline; */
}
@media only screen and (min-width: 768px) {
  .container-footer {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .container-footer {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .container-footer {
    align-items: baseline;
  }
}
.footer-logo {
    gap: 16px;
    /* margin-right: 120px; */
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    max-width: 264px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo {
    margin-right: 120px
  }
}
.logo-footer {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    padding: 0 0 0 0;
}
.span-footer {
    color: #4D5AE5;
}
.footer-p {
    color: #F4F4FD;
    margin-top: 16px;
    max-width: 243px;
    align-items: flex-start;
    margin-bottom: 72px;
    text-align: left;
}
@media only screen and (min-width: 1158px) {
  .footer-p {
    margin-bottom: 0;
  }
}
.footer-socials {
    gap: 16px;
    /* margin-right: 80px; */
    margin-bottom: 72px;
}
@media only screen and (min-width: 1158px) {
  .footer-socials {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
.icon-bg-footer {
    width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4D5AE5;
        gap: 16px;
        flex-direction: row;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-bg-footer:hover,
.icon-bg-footer:focus {
    background-color: #31d0aa;
}
.socials-p {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
padding-bottom: 16px;
text-align: center;
}
@media only screen and (min-width: 768px) {
  .socials-p {
    text-align: left;
  }
}
.social-links-footer {
width: 232px;
height: 40px;
border-radius: 50%;
display: flex;
    /*justify-content: center;
align-items: center;
/*background-color: #4d5ae5;*/
gap: 16px;
flex-direction: row;
}
/* #endregion */
/* #region footer-form */
.footer-form {
    /* display: flex; */
    display: block;
    align-items: center;
    left: auto;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    max-width: 453px;
  }
}
.footer-subscription-p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-subscription-p {
    text-align: left;
  }
}
.footer-email-label {
    flex-basis: 264px;
}

.footer-email {
    font-size: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: #2e2f42;
    outline: none;
    color: #FFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-email {
    margin-bottom: 0;
    margin-right: 24px;
  }
}
.footer-email:focus {
    border-color: #31d0aa;
}

.footer-email::placeholder {
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 12px;
}

.subscription-button {
    border: none;
    display: flex;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 24px;
    cursor: pointer;
    margin: 0 auto;
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: #31d0aa;
}

.button-text {
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    align-items: center;
    justify-content: center;
    /*right: 64px;
    left: 24px;
    padding: 8px 64px 8px 24px;*/
}

.button-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
}

.Subscribe-wrapper {
    display: block;
}
@media only screen and (min-width: 768px) {
  .Subscribe-wrapper {
    margin-right: auto;
  }
}
/* #endregion */
/* #region modal-overlay */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: initial;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fcfcfc;
    /* width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px; */
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
.backdrop.is-open > .modal {
    opacity: 1;
    pointer-events: all;
    visibility: initial;
}
.order-service-wrapper {
    margin-bottom: 8px;
}
.order-service-field {
    position: relative;
}
.label {
    /*padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    color: #8e8f99;*/
    font-size: 12px;
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    display: block;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
/*.modal-label-p {
    font-size: 12px;
    color: #8e8f99;
    font-weight: 400;
        font-size: 12px;
    padding-bottom: 8px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}*/
.order-service-input {
    margin-top: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-input:focus {
    border-color: #4d5ae5;
}
.order-service-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-top: 4px;
        /*margin-bottom: 16px;*/
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-margin {
    margin-bottom: 16px;
}
.order-service-textarea:focus {
    border-color: #4d5ae5;
}
.order-service-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
}
.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-icons {
    fill: #2e2f42;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-input:focus + .modal-icons {
    fill: #4D5AE5;
}
.modal-close-button {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
    transition-property: fill, background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
}
.modal-close-button:hover .modal-button-icon,
.modal-close-button:focus .modal-button-icon {
    fill: #FFF;
}
/*
.modal-button-icon {
    fill: #2E2F42;
}
.modal-button-icon:hover {
    fill: #FFF;
}*/
.checkbox-label {
    display: flex;
    /* flex-wrap: wrap; */
    color: #8e8f99;
    font-size: 12px;
    align-items: baseline;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}
.yes {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox-toggler {
    display: inline-flex;
    min-width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition-property: background-color, border-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox {
    fill: #f4f4fd;
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-toggler {
    background-color: #404bbf;
    border-color: transparent;
}
.checkbox:checked + .checkbox-toggler > .custom-checkbox {
    opacity: 1;
}
.privacy-policy {
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}
.modal-button {
background-color: #4D5AE5;
color: #FFFFFF;
width: 169px;
height: 56px;
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 4px;
padding: 16px 32px;
margin-left: auto;
margin-right: auto;
/*margin-top: 24px;*/
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}
/* #endregion */
/* #region mobile-menu */
.mobile-menu {
    background-color: inherit;
    border: 0;
    padding: 0;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobile.is-open {
    transform: translateX(0);
}
.modal-mobile .modal-mobile-close {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
    transition-property: fill, background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-nav-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mobile-nav-link.active {
    color: #404BBF;
}
.mobile-menu-address {
    margin-bottom: 48px;
}
.mobile-address-item:first-child {
    margin-bottom: 24px;
}
.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.social-links-mobile {
    width: 232px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    gap: 40px;
    flex-direction: row;
}
/* #endregion */
.accent-text {
    color: #4d5ae5;
}